{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mentor Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% render_block "css" %}
  <!-- =======================================================
  * Template Name: Mentor - v3.0.0
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  {% cms_toolbar %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">techBITS</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          {% show_menu 0 100 100 100 %}
<!--          <li class="active"><a href="index.html">Home</a></li>-->
<!--          <li><a href="about.html">About</a></li>-->
<!--          <li><a href="courses.html">Courses</a></li>-->
<!--          <li><a href="trainers.html">Trainers</a></li>-->
<!--          <li><a href="events.html">Events</a></li>-->
<!--          <li><a href="pricing.html">Pricing</a></li>-->
<!--          <li class="drop-down"><a href="">Drop Down</a>-->
<!--            <ul>-->
<!--              <li><a href="#">Drop Down 1</a></li>-->
<!--              <li class="drop-down"><a href="#">Deep Drop Down</a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Drop Down 2</a></li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
<!--            </ul>-->
<!--          </li>-->


        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Explore CAREER PARADIGMS with Us</h1>
      <h4>A Blogspot by <a href="https://www.geniobits.com">genioBITS</a></h4>
      <h2>“Once a new Technology rolls over you, if you are not part of a steamrolller, you're part of road” – Stewart Brand</h2><br>
    </div>
  </section><!-- End Hero -->
            {% block content %}
                {% placeholder "content" %}
            {% endblock content %}
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>About Us</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="font-italic">
              We are team of developers mentored by <a href="https://www.geniobits.com">genioBITS</a> technologies exploring on:
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Advancement in Technology.</li>
              <li><i class="icofont-check-circled"></i> Advancing in ML and AI.</li>
              <li><i class="icofont-check-circled"></i>Job opportunities.</li>
            </ul>
            <p>
              Do visit us for more info.
            </p>
            <a href="https://www.geniobits.com" class="learn-more-btn">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



<!--    &lt;!&ndash; ======= Why Us Section ======= &ndash;&gt;-->
<!--    <section id="why-us" class="why-us">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="row">-->
<!--          <div class="col-lg-4 d-flex align-items-stretch">-->
<!--            <div class="content">-->
<!--              <h3>Recent</h3>-->
<!--              <p>-->
<!--                See our blogs here-->

<!--                {% block content1 %}-->
<!--                {% placeholder "content1" %}-->
<!--            {% endblock content1 %}-->
<!--              </p>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">-->
<!--            <div class="icon-boxes d-flex flex-column justify-content-center">-->
<!--              <div class="row">-->
<!--                <div class="col-xl-4 d-flex align-items-stretch">-->
<!--                  <div class="icon-box mt-4 mt-xl-0">-->
<!--                    <i class="bx bx-receipt"></i>-->
<!--                    <h4>Corporis voluptates sit</h4>-->
<!--                    <br>-->

<!--                    <p>-->
<!--                <br>-->
<!--                <br>-->
<!--                <br>-->
<!--                <br>-->
<!--                {% block content2 %}-->
<!--                          {% placeholder "content2" %}-->
<!--                        {% endblock content2 %}-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-xl-4 d-flex align-items-stretch">-->
<!--                  <div class="icon-box mt-4 mt-xl-0">-->
<!--                    <i class="bx bx-cube-alt"></i>-->
<!--                    <h4>Ullamco laboris ladore pan</h4>-->
<!--                    <p>-->

<!--                <br>-->
<!--                <br>-->
<!--                <br>{% block content3 %}-->
<!--                {% placeholder "content3" %}-->
<!--            {% endblock content3 %}-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-xl-4 d-flex align-items-stretch">-->
<!--                  <div class="icon-box mt-4 mt-xl-0">-->
<!--                    <i class="bx bx-images"></i>-->
<!--                    <h4>Labore consequatur</h4>-->
<!--                    <p>-->
<!--                      <br>-->
<!--                <br>-->
<!--                <br>-->
<!--                <br>{% block content4 %}-->
<!--                {% placeholder "content4" %}-->
<!--            {% endblock content4 %}</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End .content&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Why Us Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Features Section ======= &ndash;&gt;-->
<!--    <section id="features" class="features">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="row" data-aos="zoom-in" data-aos-delay="100">-->
<!--          <div class="col-lg-3 col-md-4">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-store-line" style="color: #ffbb2c;"></i>-->
<!--              <h3><a href="">Lorem Ipsum</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>-->
<!--              <h3><a href="">Dolor Sitema</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>-->
<!--              <h3><a href="">Sed perspiciatis</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>-->
<!--              <h3><a href="">Magni Dolores</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-4 mt-4">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-database-2-line" style="color: #47aeff;"></i>-->
<!--              <h3><a href="">Nemo Enim</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-4 mt-4">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>-->
<!--              <h3><a href="">Eiusmod Tempor</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-4 mt-4">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>-->
<!--              <h3><a href="">Midela Teren</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-4 mt-4">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>-->
<!--              <h3><a href="">Pira Neve</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-4 mt-4">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-anchor-line" style="color: #b2904f;"></i>-->
<!--              <h3><a href="">Dirada Pack</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-4 mt-4">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-disc-line" style="color: #b20969;"></i>-->
<!--              <h3><a href="">Moton Ideal</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-4 mt-4">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-base-station-line" style="color: #ff5828;"></i>-->
<!--              <h3><a href="">Verdo Park</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-4 mt-4">-->
<!--            <div class="icon-box">-->
<!--              <i class="ri-fingerprint-line" style="color: #29cc61;"></i>-->
<!--              <h3><a href="">Flavor Nivelanda</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Features Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Popular Courses Section ======= &ndash;&gt;-->
<!--    <section id="popular-courses" class="courses">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-title">-->
<!--          <h2>Courses</h2>-->
<!--          <p>Popular Courses</p>-->
<!--        </div>-->

<!--        <div class="row" data-aos="zoom-in" data-aos-delay="100">-->

<!--          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">-->
<!--            <div class="course-item">-->
<!--              <img src="{% static 'assets/img/course-1.jpg' %}" class="img-fluid" alt="...">-->
<!--              <div class="course-content">-->
<!--                <div class="d-flex justify-content-between align-items-center mb-3">-->
<!--                  <h4>Web Development</h4>-->
<!--                  <p class="price">$169</p>-->
<!--                </div>-->

<!--                <h3><a href="course-details.html">Website Design</a></h3>-->
<!--                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>-->
<!--                <div class="trainer d-flex justify-content-between align-items-center">-->
<!--                  <div class="trainer-profile d-flex align-items-center">-->
<!--                    <img src="{% static 'assets/img/trainers/trainer-1.jpg' %}" class="img-fluid" alt="">-->
<!--                    <span>Antonio</span>-->
<!--                  </div>-->
<!--                  <div class="trainer-rank d-flex align-items-center">-->
<!--                    <i class="bx bx-user"></i>&nbsp;50-->
<!--                    &nbsp;&nbsp;-->
<!--                    <i class="bx bx-heart"></i>&nbsp;65-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div> &lt;!&ndash; End Course Item&ndash;&gt;-->

<!--          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">-->
<!--            <div class="course-item">-->
<!--              <img src="{% static 'assets/img/course-2.jpg' %}" class="img-fluid" alt="...">-->
<!--              <div class="course-content">-->
<!--                <div class="d-flex justify-content-between align-items-center mb-3">-->
<!--                  <h4>Marketing</h4>-->
<!--                  <p class="price">$250</p>-->
<!--                </div>-->

<!--                <h3><a href="course-details.html">Search Engine Optimization</a></h3>-->
<!--                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>-->
<!--                <div class="trainer d-flex justify-content-between align-items-center">-->
<!--                  <div class="trainer-profile d-flex align-items-center">-->
<!--                    <img src="{% static 'assets/img/trainers/trainer-2.jpg' %}" class="img-fluid" alt="">-->
<!--                    <span>Lana</span>-->
<!--                  </div>-->
<!--                  <div class="trainer-rank d-flex align-items-center">-->
<!--                    <i class="bx bx-user"></i>&nbsp;35-->
<!--                    &nbsp;&nbsp;-->
<!--                    <i class="bx bx-heart"></i>&nbsp;42-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div> &lt;!&ndash; End Course Item&ndash;&gt;-->

<!--          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">-->
<!--            <div class="course-item">-->
<!--              <img src="assets/img/course-3.jpg" class="img-fluid" alt="...">-->
<!--              <div class="course-content">-->
<!--                <div class="d-flex justify-content-between align-items-center mb-3">-->
<!--                  <h4>Content</h4>-->
<!--                  <p class="price">$180</p>-->
<!--                </div>-->

<!--                <h3><a href="course-details.html">Copywriting</a></h3>-->
<!--                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>-->
<!--                <div class="trainer d-flex justify-content-between align-items-center">-->
<!--                  <div class="trainer-profile d-flex align-items-center">-->
<!--                    <img src="{% static 'assets/img/trainers/trainer-3.jpg' %}" class="img-fluid" alt="">-->
<!--                    <span>Brandon</span>-->
<!--                  </div>-->
<!--                  <div class="trainer-rank d-flex align-items-center">-->
<!--                    <i class="bx bx-user"></i>&nbsp;20-->
<!--                    &nbsp;&nbsp;-->
<!--                    <i class="bx bx-heart"></i>&nbsp;85-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div> &lt;!&ndash; End Course Item&ndash;&gt;-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Popular Courses Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Trainers Section ======= &ndash;&gt;-->
<!--    <section id="trainers" class="trainers">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-title">-->
<!--          <h2>Trainers</h2>-->
<!--          <p>Our Professional Trainers</p>-->
<!--        </div>-->

<!--        <div class="row" data-aos="zoom-in" data-aos-delay="100">-->
<!--          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">-->
<!--            <div class="member">-->
<!--              <img src="{% static 'assets/img/trainers/trainer-1.jpg' %}" class="img-fluid" alt="">-->
<!--              <div class="member-content">-->
<!--                <h4>Walter White</h4>-->
<!--                <span>Web Development</span>-->
<!--                <p>-->
<!--                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut-->
<!--                </p>-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="icofont-twitter"></i></a>-->
<!--                  <a href=""><i class="icofont-facebook"></i></a>-->
<!--                  <a href=""><i class="icofont-instagram"></i></a>-->
<!--                  <a href=""><i class="icofont-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">-->
<!--            <div class="member">-->
<!--              <img src="{% static 'assets/img/trainers/trainer-2.jpg' %}" class="img-fluid" alt="">-->
<!--              <div class="member-content">-->
<!--                <h4>Sarah Jhinson</h4>-->
<!--                <span>Marketing</span>-->
<!--                <p>-->
<!--                  Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus-->
<!--                </p>-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="icofont-twitter"></i></a>-->
<!--                  <a href=""><i class="icofont-facebook"></i></a>-->
<!--                  <a href=""><i class="icofont-instagram"></i></a>-->
<!--                  <a href=""><i class="icofont-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">-->
<!--            <div class="member">-->
<!--              <img src="{% static 'assets/img/trainers/trainer-3.jpg' %}" class="img-fluid" alt="">-->
<!--              <div class="member-content">-->
<!--                <h4>William Anderson</h4>-->
<!--                <span>Content</span>-->
<!--                <p>-->
<!--                  Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara-->
<!--                </p>-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="icofont-twitter"></i></a>-->
<!--                  <a href=""><i class="icofont-facebook"></i></a>-->
<!--                  <a href=""><i class="icofont-instagram"></i></a>-->
<!--                  <a href=""><i class="icofont-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Trainers Section &ndash;&gt;-->

  </main><!-- End #main -->
    <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">
<!--          GENIOBITS PRIVATE LIMITED-->
<!--GAT NO.163 FLAT NO.A-402 NISARG, HUNDEKARI WASTI PHURSUNGI PUNE Pune MH 412308 IN-->
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>GENIOBITS PRIVATE LIMITED</h3>
            <p>
              GAT NO.163 FLAT NO.A-402 NISARG <br>
              HUNDEKARI WASTI PHURSUNGI PUNE<br>
              Pune MH 412308 IN<br><br>
              <strong>Phone:</strong> +91 7030089659<br>
              <strong>Phone:</strong> +91 9960436653<br>
              <strong>Email:</strong> contact@geniobits.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.geniobits.com">Custom Software Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.geniobits.com">Web Development</a></li>
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>-->
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.geniobits.com">Mobile App Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.geniobits.com">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>
<!--  &lt;!&ndash; ======= Footer ======= &ndash;&gt;-->
<!--  <footer id="footer">-->

<!--    <div class="footer-top">-->
<!--      <div class="container">-->
<!--        <div class="row">-->

<!--          <div class="col-lg-3 col-md-6 footer-contact">-->
<!--            <h3>Mentor</h3>-->
<!--            <p>-->
<!--              A108 Adam Street <br>-->
<!--              New York, NY 535022<br>-->
<!--              United States <br><br>-->
<!--              <strong>Phone:</strong> +1 5589 55488 55<br>-->
<!--              <strong>Email:</strong> info@example.com<br>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-6 footer-links">-->
<!--            <h4>Useful Links</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Our Services</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 footer-newsletter">-->
<!--            <h4>Join Our Newsletter</h4>-->
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
<!--            <form action="" method="post">-->
<!--              <input type="email" name="email"><input type="submit" value="Subscribe">-->
<!--            </form>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>genioBITS Technologies</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">genioBITS PVT Ltd.</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/geniobits" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/geniobits/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/geniobits/?hl=hi" class="instagram"><i class="bx bxl-instagram"></i></a>
<!--        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
        <a href="https://www.linkedin.com/company/geniobits/?originalSubdomain=in" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  {% render_block "js" %}
</body>

</html>